# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/

# 虚拟环境（重点！你之前损坏的.venv就放这里忽略）
.venv/
venv/
env/

# Python编译缓存
__pycache__/
*.pyc
*.pyo
*.py[cod]

# PyCharm编辑器配置
.idea/
*.iml

# pytest缓存、allure测试报告
.pytest_cache/
allure-report/
allure-results/

# 日志、临时文件
*.log
*.tmp
*.bak

# 环境变量配置（密码、数据库账号）
.env

# 打包产物
dist/
build/
*.egg-info/

# Windows系统文件
Thumbs.db
